.wrapper{
  & .panel {
    background-color: #eceff1;
  }
  background-color: #eceff1;
}

.doc-body {
  min-height: 0;
  padding-bottom: 0
}

.user-information {
  background-color: #fff;
  font-size: 0;
  padding: 50px 0;
  padding-left: 50px;
  margin-bottom: 10PX;
}

.user-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.avatar-title {
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
  line-height: 50PX;
}

.menu-title {
  font-size: 26px;
}